body{
    background-color: black;
    color: white;
}

.showcase-top{
    height: 75%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),  url("../img/movies.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 
}

.showcase-content{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.email-input {
    min-width: 500px;
    height: 70px!important;
    margin-right: -2;
}

.big-btn{

    height: 70px!important;
    background-color: red;
    border: none;
    margin-left: -2;
}

.story{

    border-bottom: 8px solid #222;
    clear:both;

}

.card {
    position: relative;
    width: 25%;
    float: left;
    border: 2px solid red;
    padding: 10px;
    border: 2px solid red;
    
}



h1{
    font-size: 4rem;
}

p{
    font-size: 1.625rem;
}